.row {
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
}

.board {
  margin-top: 60px;
}